// app global css in SCSS form

// Default elements
h1, h2, h3, h4, h5, h6{
  font-family: 'Eras Demi ITC', sans-serif;
  color: $secondary;
}
p{
  font-family: "Eras Medium ITC", sans-serif;
  font-size: 16px;
  color: $secondary;
}

// Buttons
.primaryButton {
  border-radius: 0;
  width: 180px;
  height: 40px;
  background-color: $primary;
  color: white;
  font-family: "Eras Demi ITC", sans-serif;
}

.primaryButton-sm {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: $primary;
  color: white;
  font-family: "Eras Demi ITC", sans-serif;
}

.secondaryButton {
  height: 40px;
  background-color: $primary;
  color: white;
  font-family: "Eras Demi ITC", sans-serif;
}

.invertedButton {
  border-radius: 0;
  width: 180px;
  height: 40px;
  background: white;
  color: $secondary;
  font-family: "Eras Demi ITC", sans-serif;
}

// Sections
.headlineSection {
  font-size: xx-large;
  margin: unset;
  line-height: 4rem;
}
.bottomSection {
  border-top: 2px solid;
  border-top-color: $primary;
}
// Fonts
.nexa-font{
  font-family: 'Nexa Rust Sans', sans-serif;
}

.eras-font{
  font-family: 'Eras Medium ITC', sans-serif;
}
.eras-font-demi{
  font-family: 'Eras Demi ITC', sans-serif;
}


.multiColums-2{
  column-count: 2;
}

.multiColums-3{
  column-count: 3;
}
.titleRouter{
  text-decoration: none;
  color: white;
}

.quiz-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

// Pages
.mefo-page-header{
  border-bottom: 2px solid;
  border-bottom-color: $primary;
  background-color: white;
}

.mefo-page-footer{
  border-top: solid 2px $primary;
  background-color: white;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

// Quiz Start
.mefo-start-quiz{
  display: flex;
}
.mefo-start-quiz::after{
  content: '';
  position: absolute;
  background-image: url("../assets/quizImages/Maps.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.mefo-quiz-title{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  text-align: center;
}

.mefo-start-quiz-name{
  color: $primary;
  font-size: 3rem;
  margin-bottom: unset;
}

// Quiz Header
.mefo-quiz-header{
  height: 60px;
  text-align: center;
  align-items: center;
  border-bottom: solid 2px $primary;

  p {
    margin-bottom: 0;
  }
}

.mefo-quiz-count{
  padding-left: 1rem;

  :first-child{
    margin-right: .2rem;
  }
}

// Quiz Card
.mefo-quiz-card{
  margin: 10px;
  border-radius: 0;
}

.mefo-quiz-select{
  display: flex;
  justify-content: center;

  .q-btn {
    width: 60%;
  }
}

.mefo-quiz-name{
  text-transform: uppercase;
}

// Result Page
.mefo-results-page h4{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.mefo-results{
  margin-bottom: 5rem;
}

.mefo-overlap{
  z-index: 2147483646;

  q-btn{
    z-index: 2147483647;
  }
}

// Result Card
.mefo-result-card{
  margin: .75rem;

  .q-card__section{
    padding-bottom: 0;
  }

  .q-icon{
    color: $dark;
  }
}
.map{
  width: 50%;
  height: 100%;
}

// Feedback
.close{
  border-radius: 0;
  border-left: 15px solid;
  border-left-color: $answerGood;
}

.furtherAway{
  border-radius: 0;
  border-left: 15px solid;
  border-left-color: $answerOK;
}

.farAway{
  border-radius: 0;
  border-left: 15px solid;
  border-left-color: $answerWrong;
}

// Login
.mefo-login-page{
  height: 100vh;
}

.mefo-login-logo{
  display: flex;
  justify-content: center;
}

.mefo-login-form{
  margin: 1rem;
}

.mefo-login-input{
  margin-bottom: .75rem;
}

.mefo-login-button{
  display: flex;
  justify-content: center;
  margin-bottom: .75rem;
}
.mefo-login-lang-change{
  display: flex;
  justify-content: center;
  margin-bottom: .75rem;
}
