// app global css in SCSS form

// Default elements
h1, h2, h3{
  color: $secondary;
}
h1{
  font-size: 30px;
  font-family: "Nexa Rust Sans", sans-serif;
  line-height: unset;
}
h2{
  font-size: 20px;
  font-family: "Eras Demi ITC", sans-serif;
  line-height: unset;
}
h3{
  font-size: 15px;
  line-height: unset;
}

p{
  font-family: "Eras Medium ITC", sans-serif;
  font-size: 15px;
  color: $secondary;
  line-height: unset;
}

.q-card__section--vert{
  padding: 12px;
}

// Buttons
.primaryButton {
  border-radius: 4px;
  width: 180px;
  height: 40px;
  background-color: $primary;
  color: white;
  font-family: "Eras Demi ITC", sans-serif;
  font-size: 15px;

}

.primaryButton-sm {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: $primary;
  color: white;
  font-family: "Eras Demi ITC", sans-serif;
}

.secondaryButton {
  height: 40px;
  background-color: $primary;
  color: white;
  font-family: "Eras Demi ITC", sans-serif;
}

.invertedButton {
  border-radius: 4px;
  width: 180px;
  height: 40px;
  background: white;
  color: $secondary;
  font-family: "Eras Demi ITC", sans-serif;
  font-size: 15px;
}

// Fonts
.nexa-font{
  font-family: 'Nexa Rust Sans', sans-serif;
}

.eras-font{
  font-family: 'Eras Medium ITC', sans-serif;
}
.eras-font-demi{
  font-family: 'Eras Demi ITC', sans-serif;
}


.multiColums-2{
  column-count: 2;
}

.multiColums-3{
  column-count: 3;
}
.titleRouter{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Nexa Rust Sans", sans-serif;
}

.quiz-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

// Menu
.mefo-language-selection{
  margin-left: 12px;
  margin-right: 12px;
  font-size: 15px;
  font-family: "Eras Medium ITC", sans-serif;
  color: $secondary;
}

.mefo-menu-list{
}

.mefo-menu-item{
  margin-left: 12px;
  margin-right: 12px;
  padding: 0;
  color: $secondary;
}

// Pages
.headlineSection {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
  font-size: 20px;
  height: 60px;
  line-height: unset;
  align-items: center;
  display: flex;
  font-family: "Eras Demi ITC", sans-serif;
}
.bottomSection {
  border-top: 2px solid;
  border-top-color: $primary;
}
.mefo-page-header{
  border-bottom: 2px solid;
  border-bottom-color: $primary;
  background-color: white;
}

.mefo-page-footer{
  border-top: solid 2px $primary;
  background-color: white;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.mefo-page-text{
  margin: 12px;
}

// Quiz Card
.mefo-quiz-card{
  margin: 12px;
  border-radius: 4px;
}

.mefo-quiz-description{
  margin-bottom: 12px;
  font-size: 15px;
  font-family: "Eras Medium ITC", sans-serif;
}

.mefo-quiz-card-visitors{
  margin-right: 12px;
  color: $accent;
  font-size: 25px;
}
.mefo-quiz-card-count{
  margin-bottom: 0;
  font-size: 15px;
}

.mefo-quiz-select{
  display: flex;
  justify-content: center;

  .q-btn {
    width: 60%;
  }
}
.mefo-quiz-name-section{
  height: 60px;
}

.mefo-quiz-name{
  font-family: "Nexa Rust Sans", sans-serif;
  font-size: 20px;
  color: $primary;
  margin: 0;
  padding-right: 56px;
}

// Quiz Start
.SnXsGTHyUekyK9pyi2z1{
  display: flex;
}
.SnXsGTHyUekyK9pyi2z1::after{
  content: '';
  position: absolute;
  background-image: url("../assets/quizImages/city.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.HBNUGAG1eogcMltToXqJ{
  display: flex;
}
.HBNUGAG1eogcMltToXqJ::after{
  content: '';
  position: absolute;
  background-image: url("../assets/quizImages/brandenburg-gate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}



.mefo-quiz-title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-30%);
  text-align: center;
}

.mefo-start-quiz-name{
  color: $primary;
  font-size: 40px;
  margin-bottom: 12px;
}

.mefo-start-quiz-name-sm{
  color: $primary;
  font-size: 30px;
  margin-bottom: 12px;
}

.mefo-start-quiz-name-xs{
  color: $primary;
  font-size: 24px;
  margin-bottom: 12px;
}

// Quiz Header
.mefo-quiz-header{
  height: 60px;
  text-align: left;
  align-items: center;
  border-bottom: solid 2px $primary;

  p {
    margin-bottom: 0;
  }
}
.mefo-quiz-header-question{
  margin-left: 10px;
  margin-right: 10px;

  :hover{
    color: $accent;
    cursor: pointer;
  }
}

.mefo-quiz-count{
  justify-content: left;
  margin-left: 10px;

  :first-child{
    margin-right: .2rem;
  }
}

// Quiz HelpOptions
.mefo-help-options{
  font-family: "Eras Demi ITC", sans-serif;
  color: white;
  background-color: $primary;
}

// Result Page
.mefo-results-page h4{
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.mefo-results{
  margin-bottom: 70px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

}

.mefo-overlap{
  z-index: 2147483646;
  background-color: white;
  height: 60px;
  border-top: 2px solid $primary;
  q-btn{
    z-index: 2147483647;
  }
}

// Result Card
.mefo-quiz-result-name{
  font-family: "Nexa Rust Sans", sans-serif;
  font-size: 15px;
  color: $primary;
}

.mefo-result-card{
  margin: .75rem;

  .q-card__section{
    padding-bottom: 0;
  }

  .q-icon{
    color: $dark;
  }
}
.map{
  width: 50%;
  height: 100%;
}

// Feedback
.close{
  border-radius: 4px;
  border-left: 15px solid;
  border-left-color: $answerGood;
}

.furtherAway{
  border-radius: 4px;
  border-left: 15px solid;
  border-left-color: $answerOK;
}

.farAway{
  border-radius: 4px;
  border-left: 15px solid;
  border-left-color: $answerWrong;
}

// Login
.mefo-login-page{
  height: 100vh;
}

.mefo-login-logo{
  display: flex;
  justify-content: center;
}

.mefo-login-form{
  margin: 1rem;
}

.mefo-login-input{
  margin-bottom: .75rem;
}

.mefo-login-button{
  display: flex;
  justify-content: center;
  margin-bottom: .75rem;
}

.mefo-login-lang-change{
  display: flex;
  justify-content: center;
  margin-bottom: .75rem;
}

// Error pages
.mefo-error{
 color: white;
}
.mefo-error-code{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}
.mefo-error-text{
  margin-top: 0;
  //margin-bottom: 0;
  font-size: 30px;
}


