// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
@import url('http://fonts.cdnfonts.com/css/nexa-rust-extras');
@import url('http://fonts.cdnfonts.com/css/eras-demi-itc');

$primary   : #74139d;
$secondary : #350948;
$accent    : #b31df2;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;



h1, h2, h3, h4, h5{
  font-family: 'Eras Demi ITC', sans-serif;
  color: $secondary;
}
p{
  font-family: "Eras Medium ITC", sans-serif;
  color: $secondary;
}
.headlineSection {
  font-size: xx-large;
  line-height: unset;
}
.bottomSection {
  border-top: 2px solid;
  border-top-color: $primary;
}
.nexa-font{
  font-family: 'Nexa Rust Sans', sans-serif;
}

.eras-font{
  font-family: 'Eras Medium ITC', sans-serif;
}
.eras-font-demi{
  font-family: 'Eras Demi ITC', sans-serif;
}

.multiColums-2{
  column-count: 2;
}

.multiColums-3{
  column-count: 3;
}
.titleRouter{
  text-decoration: none;
  color: white;
}
.mefo-page-header{
  border-bottom: 2px solid;
  border-bottom-color: $primary;
}

.mefo-page-footer{
  border-top: solid 2px $primary;
  height: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
